@font-face {
    font-family: 'Hatsch Sans';
    src: url('../fonts/Hatsch Sans/HatschSans_PERSONAL_USE_ONLY.otf');
}

@font-face {
    font-family: 'Hatsch Sans Italic';
    src: url('../fonts/Hatsch Sans/HatschSansItalic_PERSONAL_USE_ONLY.otf');
}