{{head}}
<body>
    <nav id="navbar">
        <div class="content">
            <a class="logo" href="{{urlBase}}">LOGO</a>
            <ul class="menus">
                <li class="menu"><a href="#">Sobre</a></li>
                <li class="menu"><a href="#">Serviços</a></li>
                <li class="menu"><a href="#">Preços</a></li>
                <li class="menu"><a href="#">Contate-nos</a></li>
                <li class="menu button"><a href="#">Criar conta</a></li>
            </ul>
        </div>
    </nav>
    <header id="header">
        <div class="content">
            <div class="text-content">
                <h2 class="sub-title">Treino com+</h2>
                <h1 class="title">Performance</h1>
                <p class="description">Lorem ipsum dolor sit amet <mark>consectetur</mark>, adipisicing elit. Deleniti ad libero repellendus fuga expedita provident eveniet.</p>
                <a class="button" href="#">Encomendar Agora</a>
            </div>
            <div class="illustration-content">
                <img src="{{urlBase}}/assets/img/woman_training.png">
            </div>
        </div>
    </header>
    <div class="partners">
        <a class="partner" href="#"></a>
        <a class="partner" href="#"></a>
        <a class="partner" href="#"></a>
        <a class="partner" href="#"></a>
    </div>
</body>
</html>